
/***
Misc tools
***/
.clearfix{
  clear: both;
}

.space5{display: block; height: 5px !important; clear: both;}
.space7{height: 7px !important; display: block; clear: both;}
.space10{height: 10px !important; display: block; clear: both;}
.space12{height: 12px !important; display: block; clear: both;}
.space15{height: 15px !important; display: block; clear: both;}
.space20{height: 20px !important; display: block; clear: both;}
.space30{height: 30px !important; display: block; clear: both;}
.space40{height: 40px !important; display: block; clear: both;}


/***
Fix grid offset used for reponsive layout handling(refer app.js=>handleResponsive)
***/
.fix-offset{
  margin-left: 0px !important;
}
/* Margin */ 
.no-space{
  margin: 0px !important;
  padding: 0px !important;
}
.no-bottom-space{
  padding-bottom:0px !important;
  margin-bottom: 0px !important;
}
.no-top-space{
  padding-top:0px !important;
  margin-top: 0px !important;
} 
.no-margin{margin: 0px !important;}
.no-padding{padding: 0px !important;}
.no-top-margin{margin-top: 0 !important;}
.no-left-margin{margin-left: 0 !important;}
.no-right-margin{margin-right: 0 !important;}
.no-bottom-margin{margin-bottom: 0 !important;}
.no-left-padding{padding-left: 0 !important;}
.no-right-padding{padding-right: 0 !important;}
.no-bottom-padding{padding-bottom: 0 !important;}

.padding-10{padding:10px !important;}
.padding-20{padding:20px !important;}

.margin-top-10{margin-top: 10px !important;}
.margin-top-20{margin-top: 20px !important;}
.margin-top-30{margin-top: 30px !important;}
.margin-top-40{margin-top: 40px !important;}
.margin-top-50{margin-top: 50px !important;}

.margin-left-10{margin-left: 10px !important;}
.margin-left-15{margin-left: 15px !important;}
.margin-left-20{margin-left: 20px !important;}
.margin-left-25{margin-left: 25px !important;}

.margin-right-10{margin-right: 10px !important;}
.margin-right-20{margin-right: 20px !important;}

.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-15{margin-bottom: 15px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-25{margin-bottom: 25px !important;}
.margin-bottom-30{margin-bottom: 30px !important;}
.margin-bottom-40{margin-bottom: 40px !important;}